<!DOCTYPE html>
<html lang="en" class="no-js one-page-layout" data-classic-layout="false" data-mobile-only-classic-layout="true" data-inAnimation="fadeInUp" data-outAnimation="fadeOutDownBig"><!-- InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false" -->

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="cvCard - Responsive HTML5 vCard Template">
  <meta name="keywords" content="vcard, html5, events">
  <meta name="author" content="Pixelwars">

  <title>Wojtek Erbetowski</title>

  <%- open_graph({image:'/images/site/avatar.jpg'}) %>

  <!-- FAV and TOUCH ICONS -->
  <link rel="shortcut icon" href="img/favicon.ico">
  <!--<link rel="apple-touch-icon" href="images/ico/apple-touch-icon.png"/>-->

  <script src="js/modernizr.custom.js"></script>

  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" media="print" href="css/print.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="js/nprogress/nprogress.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/fonts/fontello/css/fontello.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css">
  <link rel="stylesheet" type="text/css" href="js/google-code-prettify/prettify.css">
  <link rel="stylesheet" type="text/css" href="css/uniform.default.css">
  <link rel="stylesheet" type="text/css" href="css/flexslider.css">
  <link rel="stylesheet" type="text/css" href="js/mediaelement/mediaelementplayer.css">
  <link rel="stylesheet" type="text/css" href="css/tooltipster.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <!--[if lte IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/selectivizr-min.js"></script>
  <![endif]-->

  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-22993484-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Hotjar Tracking Code for http://erbetowski.pl -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:305969,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

</head>



<body>




<!-- CONTAINER -->
<div class="container" id="container">



  <!-- HEADER -->
  <header class="header">

    <img src="images/site/avatar.jpg" alt="avatar">
    <h1>Wojtek Erbetowski</h1>
    <!--<p></p>-->

    <!-- NAV MENU -->
    <ul class="vs-nav">

      <!-- InstanceBeginEditable name="Menu-Content" -->

      <li><a href="#/about">about me</a></li>
      <li><a href="#/events">events</a></li>
      <li><a href="#/contact">contact</a></li>
      <li><a href="#/blog">blog</a></li>
      <li><a href="#/resume">resume</a></li>

      <!-- InstanceEndEditable -->

    </ul>
    <!-- NAV MENU -->

    <!-- SEARCH -->
    <div class="header-search">
      <form role="search" method="get" id="search-form" action="#">
        <input type="text" value="" name="s" id="search" placeholder="ENTER KEYWORD">
        <input type="submit" id="search-submit" title="Search" value="→">
      </form>
    </div>
    <!-- SEARCH -->

  </header>
  <!-- HEADER -->





  <!-- WRAPPER -->
  <div class="wrapper">



    <!-- InstanceBeginEditable name="Page-Content" -->


    <!-- PAGE : ABOUT -->
    <section id="about" class="page">
      <div class="content">





        <!-- row -->
        <div class="row">

          <!-- column 8/12 -->
          <div class="col-md-8">

            <h2 class="section-title"><span><i class="icon-guest"></i>A LITTLE ABOUT ME</span></h2>

            <!-- intro -->
            <div class="intro">

              <h2>

                Hello. I am

                <span class="rotate-words">
                                            <span>a community activist.</span>
                                            <span>a father and husband.</span>
                                            <span>a coder.</span>
                                            <span>a speaker.</span>
                                            <span>an event organiser.</span>
                                            <span>a manager.</span>
                                            <span>a coffee lover.</span>
                                        </span>

                <br>
                I live in Warsaw - the capital of Poland.
                <br>
                My interests are tools and processes, but I am truly passionate about <strong>people</strong>.

              </h2>

            </div>
            <!-- intro -->


          </div>
          <!-- column 8/12 -->


          <!-- column 4/12 -->
          <div class="col-md-4">

            <h2 class="section-title"><span><i class="icon-twitter"></i>LATEST TWEETS</span></h2>

            <a href="http://twitter.com/erbetowski"><div id="latest-tweets" class="widget-twitter" data-twitterId="462119993795047424" data-tweet-count="1"></div></a>

          </div>
          <!-- column 4/12 -->


        </div>
        <!-- row -->





        <h2 class="section-title"><span><i class="fa fa-magic"></i>TOPICS</span></h2>

        <!-- SERVICES -->
        <div class="row">

          <div class="col-sm-6 col-md-3">

            <!-- service -->
            <div class="service color2">
              <i class="fa fa-user"></i>
              <h4>Mentoring</h4>
              <p>I am helping individuals to choose their career path and improve their skills. Both technical and soft.</p>
            </div>
            <!-- service -->

          </div>


          <div class="col-sm-6 col-md-3">

            <!-- service -->
            <div class="service color1">
              <i class="fa fa-users"></i>
              <h4>Leading teams</h4>
              <p>I am helping teams in finding their own path to create amazing products.</p>
            </div>
            <!-- service -->

          </div>

          <div class="col-sm-6 col-md-3">

            <!-- service -->
            <div class="service color3">
              <i class="fa fa-code-fork"></i>
              <h4>Programming</h4>
              <p>I have a long record of projects (from ground up or legacy) in Java, Python, Groovy, Scala and NodeJS.</p>
            </div>
            <!-- service -->

          </div>

        </div>
        <!-- SERVICES -->





        <!--<h2 class="section-title"><span><i class="icon-layers-alt"></i>WORK PROCESS</span></h2>-->

        <!--&lt;!&ndash; PROCESS &ndash;&gt;-->
        <!--<div class="row">-->


          <!--<div class="col-xs-6 col-sm-4 col-md-2">-->

            <!--&lt;!&ndash; process &ndash;&gt;-->
            <!--<div class="process">-->

              <!--<div class="process-box">-->
                <!--<i class="icon-lamp"></i>-->
                <!--<h4>IDEA</h4>-->
              <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash; process &ndash;&gt;-->

          <!--</div>-->

          <!--<div class="col-xs-6 col-sm-4 col-md-2">-->

            <!--&lt;!&ndash; process &ndash;&gt;-->
            <!--<div class="process">-->
              <!--<div class="process-box">-->
                <!--<i class="fa fa-puzzle-piece"></i>-->
                <!--<h4>CONCEPT</h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; process &ndash;&gt;-->

          <!--</div>-->

          <!--<div class="col-xs-6 col-sm-4 col-md-2">-->

            <!--&lt;!&ndash; process &ndash;&gt;-->
            <!--<div class="process">-->

              <!--<div class="process-box">-->
                <!--<i class="icon-brush"></i>-->
                <!--<h4>DESIGN</h4>-->
              <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash; process &ndash;&gt;-->

          <!--</div>-->

          <!--<div class="col-xs-6 col-sm-4 col-md-2">-->

            <!--&lt;!&ndash; process &ndash;&gt;-->
            <!--<div class="process">-->

              <!--<div class="process-box">-->
                <!--<i class="fa fa-code"></i>-->
                <!--<h4>DEVELOP</h4>-->
              <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash; process &ndash;&gt;-->

          <!--</div>-->

          <!--<div class="col-xs-6 col-sm-4 col-md-2">-->

            <!--&lt;!&ndash; process &ndash;&gt;-->
            <!--<div class="process">-->

              <!--<div class="process-box">-->
                <!--<i class="fa fa-bug"></i>-->
                <!--<h4>TEST</h4>-->
              <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash; process &ndash;&gt;-->

          <!--</div>-->

          <!--<div class="col-xs-6 col-sm-4 col-md-2">-->

            <!--&lt;!&ndash; process &ndash;&gt;-->
            <!--<div class="process">-->

              <!--<div class="process-box">-->
                <!--<i class="fa fa-rocket"></i>-->
                <!--<h4>LAUNCH</h4>-->
              <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash; process &ndash;&gt;-->

          <!--</div>-->

        <!--</div>-->
        <!-- PROCESS -->






        <h2 class="section-title"><span>FUN FACT</span></h2>

        <!-- FUN FACT -->
        <div class="row">


          <div class="col-sm-6 col-md-3">

            <!-- fun-fact -->
            <div class="fun-fact">
              <i class="icon-instagram-1"></i>
              <h4>49 EVENTS ORGANIZED</h4>
            </div>
            <!-- fun-fact -->

          </div>

          <div class="col-sm-6 col-md-3">

            <!-- fun-fact -->
            <div class="fun-fact">
              <i class="icon-jabber"></i>
              <h4>21 PROJECTS COMPLETED</h4>
            </div>
            <!-- fun-fact -->

          </div>

          <div class="col-sm-6 col-md-3">

            <!-- fun-fact -->
            <div class="fun-fact">
              <i class="icon-mic"></i>
              <h4>28 PUBLIC TALKS GIVEN</h4>
            </div>
            <!-- fun-fact -->

          </div>

          <div class="col-sm-6 col-md-3">

            <!-- fun-fact -->
            <div class="fun-fact">
              <i class="icon-cafe"></i>
              <h4>30 GRAMS OF COFFEE BEANS DAILY</h4>
            </div>
            <!-- fun-fact -->

          </div>


        </div>
        <!-- FUN FACT -->

      </div>
    </section>
    <!-- PAGE : ABOUT -->




    <!-- PAGE : PORTFOLIO -->
    <section id="events" class="events page">
      <div class="content">


        <h2 class="section-title center"><span><i class="icon-leaf"></i>MY EVENTS</span></h2>

        <!--FILTERS-->
        <ul id="filters" class="filters">
          <li class="current"><a href="#" data-filter="*">ALL</a></li>
          <li><a href="#" data-filter=".speaking">SPEAKING</a></li>
          <li><a href="#" data-filter=".attending">ATTENDING</a></li>
          <li><a href="#" data-filter=".organizing">ORGANIZING</a></li>
        </ul>
        <!--FILTERS-->

        <p>
          Would you like me to present at your conference? Check out my latest
          <a href="/papers">presentation proposals</a>
          and
          <a href="/#/contact">contact me</a>.
        </p>

        <!-- PORTFOLIO -->
        <div class="portfolio-items media-grid" data-layout="masonry">


          <!-- portfolio-item -->
          <!--<div class="media-cell speaking hentry">-->

            <!--<a href="" target="_blank">-->
              <!--<div class="media-cell-desc">-->
                <!--<h3></h3>-->
                <!--<p class="category"></p>-->
                <!--<p>Warsaw, PL</p>-->
              <!--</div>-->
            <!--</a>-->

          <!--</div>-->
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell attending hentry">

            <a href="http://2017.boilingfrogs.pl/" target="_blank">
              <div class="media-cell-desc">
                <h3>BoilingFrogs 2017</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->


          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="https://konferencjaget.net/pl/lodz/program#69" target="_blank">
              <div class="media-cell-desc">
                <h3>get.net conference</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://careercon.pl/konferencja/kariera-it-warszawa-05-03-2016/" target="_blank">
              <div class="media-cell-desc">
                <h3>KARIERA IT | WARSZAWA 05.03.2016</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://www.meetup.com/AgileWarsaw/events/227588879/" target="_blank">
              <div class="media-cell-desc">
                <h3>Agile Warsaw #108</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell attending hentry">

            <a href="http://stretchcon.com/" target="_blank">
              <div class="media-cell-desc">
                <h3>Stretch conference</h3>
                <p class="category">conference</p>
                <p>Budapest, HU</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell attending hentry">

            <a href="http://allegro.tech/meeting/" target="_blank">
              <div class="media-cell-desc">
                <h3>Allegro Tech Meeting '15</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://2015.agilebyexample.com/" target="_blank">
              <div class="media-cell-desc">
                <h3>AgileByExample '15</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="https://codepot.pl/" target="_blank">
              <div class="media-cell-desc">
                <h3>Codepot '15</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://torun.jug.pl/news/2015/04/15/spotkanie-12/" target="_blank">
              <div class="media-cell-desc">
                <h3>Torun JUG #12</h3>
                <p class="category">meetup</p>
                <p>Torun, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://www.meetup.com/PyGda-pl/events/221364303/" target="_blank">
              <div class="media-cell-desc">
                <h3>PyGda #3</h3>
                <p class="category">meetup</p>
                <p>Gdansk, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://www.meetup.com/dev-LDZ/events/220279011/" target="_blank">
              <div class="media-cell-desc">
                <h3>DevLdz</h3>
                <p class="category">meetup</p>
                <p>Lodz, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell organizing hentry">

            <a href="http://mceconf.com/" target="_blank">
              <div class="media-cell-desc">
                <h3>MCEconf '15</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://chamberconf.pl/" target="_blank">
              <div class="media-cell-desc">
                <h3>ChamberConf</h3>
                <p class="category">conference</p>
                <p>Moszna, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://nordicapis.com/events/stockholm-2014-platform-summit/" target="_blank">
              <div class="media-cell-desc">
                <h3>Nordic APIs</h3>
                <p class="category">conference</p>
                <p>Stockholm, SE</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://pl.pycon.org/2015/index.html" target="_blank">
              <div class="media-cell-desc">
                <h3>PyConPL '14</h3>
                <p class="category">conference</p>
                <p>Szczyrk, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell organizing hentry">

            <a href="http://warsjawa.pl/" target="_blank">
              <div class="media-cell-desc">
                <h3>Warsjawa '14</h3>
                <p class="category">workshops</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://endpointcon.com/" target="_blank">
              <div class="media-cell-desc">
                <h3>EndpointCon '14</h3>
                <p class="category">conference</p>
                <p>Amsterdam, NL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://mobile-warsaw.pl/" target="_blank">
              <div class="media-cell-desc">
                <h3>Mobile Warsaw #16</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://2014.geecon.org/" target="_blank">
              <div class="media-cell-desc">
                <h3>GeeCON '14</h3>
                <p class="category">conference</p>
                <p>Krakow, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://pywaw.org/36/" target="_blank">
              <div class="media-cell-desc">
                <h3>PyWaw #36</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://netwtorek.pl/2014/03/wiosenny-netwtorek-o-hakatonach" target="_blank">
              <div class="media-cell-desc">
                <h3>NetWtorek</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->


          <!-- portfolio-item -->
          <div class="media-cell attending hentry">

            <a href="http://craft-conf.com/2014"
               target="_blank">
              <div class="media-cell-desc">
                <h3>CraftConf '14</h3>
                <p class="category">conference</p>
                <p>Budapest, HU</p>
              </div>
            </a>
          </div>
          <!-- portfolio-item -->


          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://2014.devcrowd.pl/agenda/index.html%3Fpage_id=100.html#Maciej+Opa%C5%82a+i+Wojtek+Erbetowski"
               target="_blank">
              <div class="media-cell-desc">
                <h3>DevCrowd '14</h3>
                <p class="category">conference</p>
                <p>Szczecin, PL</p>
              </div>
            </a>
          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://2014.4developers.org.pl/en/agenda/point/37/" target="_blank">
              <div class="media-cell-desc">
                <h3>4Developers '14</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell organizing hentry">

            <a href="http://2014.mceconf.com/" target="_blank">
              <div class="media-cell-desc">
                <h3>MCE conf '14</h3>

                <p class="category">conference</p>

                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell attending hentry">

            <a href="http://www.devoxx.be/" target="_blank">
              <div class="media-cell-desc">
                <h3>Devoxx '13</h3>
                <p class="category">conference</p>
                <p>Antwerp, BE</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell attending hentry">

            <a href="http://2013.agilebyexample.com/" target="_blank">
              <div class="media-cell-desc">
                <h3>AgileByExample '13</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell organizing hentry">

              <div class="media-cell-desc">
                <h3>Git Kata v2</h3>
                <p class="category">workshops</p>
                <p>Warsaw, PL</p>
              </div>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="https://www.youtube.com/watch?v=K6QpwsLRn1g" target="_blank">
              <div class="media-cell-desc">
                <h3>PyCon PL '13</h3>
                <p class="category">conference</p>
                <p>Szczyrk, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="https://www.youtube.com/watch?v=8EhNE2n1kJA" target="_blank">
              <div class="media-cell-desc">
                <h3>Mobilization '13</h3>
                <p class="category">conference</p>
                <p>Lodz, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="https://www.facebook.com/KrakDroid" target="_blank">
              <div class="media-cell-desc">
                <h3>KrakDroid '13</h3>
                <p class="category">conference</p>
                <p>Krakow, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://2013.java2days.com/?p=367" target="_blank">
              <div class="media-cell-desc">
                <h3>Java2Days '13</h3>
                <p class="category">conference</p>
                <p>Sofia, BG</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://2013.33degree.org/talk/show/98" target="_blank">
              <div class="media-cell-desc">
                <h3>33rd degree '13</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://pywaw.org/30/" target="_blank">
              <div class="media-cell-desc">
                <h3>PyWaw #30</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://warszawa.jug.pl/#/meeting/138" target="_blank">
              <div class="media-cell-desc">
                <h3>Warszawa JUG #138</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://warszawa.jug.pl/#/meeting/106" target="_blank">
              <div class="media-cell-desc">
                <h3>Warszawa JUG #106</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://warszawa.jug.pl/#/meeting/93" target="_blank">
              <div class="media-cell-desc">
                <h3>Warszawa JUG #93</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://warszawa.jug.pl/#/meeting/87" target="_blank">
              <div class="media-cell-desc">
                <h3>Warszawa JUG #87</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://2011.confitura.pl/" target="_blank">
              <div class="media-cell-desc">
                <h3>Confitura '11</h3>
                <p class="category">conference</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://warszawa.jug.pl/#/meeting/61" target="_blank">
              <div class="media-cell-desc">
                <h3>Warszawa JUG #61</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->



          <!-- portfolio-item -->
          <div class="media-cell speaking hentry">

            <a href="http://warszawa.jug.pl/#/meeting/52" target="_blank">
              <div class="media-cell-desc">
                <h3>Warszawa JUG #52</h3>
                <p class="category">meetup</p>
                <p>Warsaw, PL</p>
              </div>
            </a>

          </div>
          <!-- portfolio-item -->




        </div>
        <!-- PORTFOLIO -->






      </div>
      <!-- CONTENT -->

    </section>
    <!-- PAGE : PORTFOLIO -->




    <!-- PAGE : CONTACT -->
    <section id="contact" class="page">
      <div class="content">



        <!-- row -->
        <div class="row">


          <!-- column 6/12 -->
          <div class="col-md-6">

            <h2 class="section-title"><span><i class="icon-address-book"></i>LET'S GET IN TOUCH</span></h2>

            <!-- LETTER -->
            <div class="letter">

              <h4 class="letter-title">Wojtek Erbetowski</h4>

              <div class="stamp">
                <img src="images/site/avatar.jpg" alt="stamp">
              </div>

              <div class="letter-info">
                <p><i class="icon-at"></i>wojtek at erbetowski dot pl</p>
                <p><i class="icon-location"></i>Warsaw, Poland</p>
              </div>

            </div>
            <!-- LETTER -->


            <h2 class="section-title"><span><i class="icon-location"></i>LOCATION</span></h2>
            <!-- GOOGLE MAP -->
            <div class="map">
              <div data-latitude="52.2329379" data-longitude="21.0611941" data-zoom="9" id="map-canvas" class="map-canvas"></div>
            </div>
            <!-- GOOGLE MAP -->



            <!--<h2 class="section-title"><span><i class="icon-paper-plane"></i>DROP ME A LINE</span></h2>-->


            <!--&lt;!&ndash; .contact-form &ndash;&gt;-->
            <!--<div class="contact-form">-->

              <!--<form id="contact-form" action="send-mail.php" method="post">-->

                <!--&lt;!&ndash; enter mail subject here &ndash;&gt;-->
                <!--<input type="hidden" name="subject" id="subject" value="You have a new message from cvCard!">-->

                <!--<p>-->
                  <!--<label for="name">NAME</label>-->
                  <!--<input type="text" name="name" id="name" class="required">-->
                <!--</p>-->

                <!--<p>-->
                  <!--<label for="email">EMAIL</label>-->
                  <!--<input type="text" name="email" id="email" class="required email">-->
                <!--</p>-->


                <!--<p>-->
                  <!--<label for="message">MESSAGE</label>-->
                  <!--<textarea name="message" id="message" class="required"></textarea>-->
                <!--</p>-->

                <!--<p>-->
                  <!--<input type="submit" class="submit button primary" value="SEND">-->
                <!--</p>-->

              <!--</form>-->

            <!--</div>-->
            <!--&lt;!&ndash; .contact-form &ndash;&gt;-->

          </div>
          <!-- column 6/12 -->


          <!-- column 6/12 -->
          <div class="col-md-6">


            <h2 class="section-title"><span><i class="icon-chat"></i>LET'S SOCIALIZE</span></h2>

            <!-- SOCIAL -->
            <ul class="social">
              <li><a class="twitter" href="https://twitter.com/erbetowski"></a></li>
              <li><a class="facebook" href="https://www.facebook.com/wojtekerbetowski"></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/wojtekerbetowski"></a></li>
              <!--<li><a class="google-plus" href="#"></a></li>-->
              <!--<li><a class="pinterest" href="#"></a></li>-->
              <li><a class="github" href="https://github.com/wojtekerbetowski/"></a></li>
              <!--<li><a class="behance" href="#"></a></li>-->
              <!--<li><a class="dribbble" href="#"></a></li>-->
              <!--<li><a class="instagram" href="#"></a></li>-->
              <!--<li><a class="lastfm" href="#"></a></li>-->
              <li><a class="rss" href="<%= config.url %>/atom.xml"></a></li>
              <!--<li><a class="vimeo" href="#"></a></li>-->
              <!--<li><a class="forrst" href="#"></a></li>-->
              <!--<li><a class="skype" href=""></a></li>-->
              <!--<li><a class="picasa" href="#"></a></li>-->
              <!--<li><a class="youtube" href="#"></a></li>-->
              <!--<li><a class="flickr" href="#"></a></li>-->
              <!--<li><a class="tumblr" href="#"></a></li>-->
              <!--<li><a class="blogger" href="#"></a></li>-->
              <!--<li><a class="delicious" href="#"></a></li>-->
              <!--<li><a class="digg" href="#"></a></li>-->
              <!--<li><a class="friendfeed" href="#"></a></li>-->
              <!--<li><a class="wordpress" href="#"></a></li>-->
              <li><a class="stack-overflow" href="http://stackoverflow.com/users/990074/wojtek-erbetowski"></a></li>
              <!--<li><a class="foursquare" href="#"></a></li>-->
              <!--<li><a class="xing" href="#"></a></li>-->
              <!--<li><a class="weibo" href="#"></a></li>-->
              <!--<li><a class="soundcloud" href="#"></a></li>
              <li><a class="fivehundredpx" href="#"></a></li>
              <li><a class="slideshare" href="#"></a></li>-->
            </ul>
            <!-- SOCIAL -->

          </div>
          <!-- column 6/12 --><!-- column 6/12 -->



        </div>
        <!-- row -->



      </div>
    </section>
    <!-- PAGE : CONTACT -->




    <!-- PAGE : BLOG -->
    <section id="blog" class="page">
      <div class="content">

        <h2 class="section-title center"><span><i class="icon-book-open"></i>LATEST FROM THE BLOG</span></h2>

        <!-- LATEST POSTS -->
        <div class="latest-posts media-grid" data-layout="fitRows">

          <% page.posts.each(function(post){ %>

            <!-- post -->
            <article class="hentry media-cell">

              <div class="media-box" style="height: 235px;">
                <img src="<%= post.thumbnail %>" alt="post-image" style="max-height: 233px; width: auto; margin: auto;">
                <div class="mask"></div>
                <a href="<%= post.path %>"></a>
              </div>

              <header class="media-cell-desc">
                <span title="<%= post.date.format('YYYY') %>" class="date"><span class="day"><%= post.date.format('DD') %></span><%= post.date.format('MMM') %></span>
                <h3><a href="<%= post.path %>"><%= post.title %></a></h3>
              </header>

            </article>
            <!-- post -->
          <% }) %>





        </div>
        <!-- LATEST POSTS -->


        <!--<p class="launch"><a class="button primary" href="blog.html">SEE ALL POSTS</a></p>-->



      </div>
    </section>
    <!-- PAGE : BLOG -->




    <!-- PAGE : RESUME -->
    <section id="resume" class="page">
      <div class="content">
        <!-- CONTENT -->


        <!-- row -->
        <div class="row">


          <!-- col 6/12 -->
          <div class="col-md-6">

            <!-- timeline -->
            <div class="timeline">

              <h2><i class="fa fa-flask"></i>WORK HISTORY</h2>

              <div class="event">
                <span class="date">2017</span>
                <h4>Trainer</h4>
                <p>Teaching and coaching teams, developers and leaders to build a robust and satisfying workplace.</p>
              </div>

              <div class="event">
                <span class="date">2016</span>
                <h4>CTO</h4>
                <h5>Growbots</h5>
                <p>Being responsible for IT departament in "AI for Sales" startup.</p>
              </div>

              <div class="event">
                <span class="date">2014</span>
                <h4>Head of Engineering</h4>
                <h5>Polidea</h5>
                <p>I was leading leading 30+ developers, working in small teams creating great products for our customers.</p>
              </div>

              <div class="event">
                <span class="date">2012</span>
                <h4>Backend Team Lead</h4>
                <h5>Polidea</h5>
                <p>Care after backend team self-development. Supporting company's key decisions. Consulting customers with architectural and development process decisions.</p>
              </div>


              <div class="event">
                <span class="date">2011</span>
                <h4>Senior Software Developer</h4>
                <h5>Polidea</h5>
                <p>Development of backend APIs written in Scala, Java, Python and Groovy.</p>
              </div>

              <div class="event">
                <span class="date">2010</span>
                <h4>Consultant</h4>
                <h5>Roche</h5>
                <p>Maintaining legacy (>10 years old) systems for supporting key product portfolio decisions by experts. Involved in introducing agile to the development teams.</p>
              </div>

              <div class="event">
                <span class="date">2009</span>
                <h4>Software Developer</h4>
                <h5>WKRA S.A.</h5>
                <p>Rewriting legacy systems, supporting storehouse, accounting and sales.</p>
              </div>

              <div class="event">
                <span class="date">2009</span>
                <h4>Senior Software Developer</h4>
                <h5>Sprawdź Się</h5>
                <p>Developing startup only product from ground up - quiz web app. Working as one-man army - gathering requirements, architecture, development, SysOp, testing.</p>
              </div>

              <div class="event">
                <span class="date">2008</span>
                <h4>Senior Software Developer</h4>
                <h5>UMAI Development</h5>
                <p>Leading micro-team developing mass advertising system</p>
              </div>

              <div class="event">
                <span class="date">2007</span>
                <h4>Software Developer</h4>
                <h5>Cadera</h5>
                <p>Developing B2B and CRM apps for advertising agencies in software house.</p>
              </div>

            </div>
            <!-- timeline -->


            <!-- timeline -->
            <!--<div class="timeline">-->

              <!--<h2><i class="icon-college"></i>EDUCATION HISTORY</h2>-->

              <!--<div class="event">-->
                <!--<span class="date">2002</span>-->
                <!--<h4>Atom Science</h4>-->
                <!--<h5>Stanford University</h5>-->
                <!--<p>I studied atomic stuff at Stanford University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>-->
              <!--</div>-->


              <!--<div class="event">-->
                <!--<span class="date">2010</span>-->
                <!--<h4>Software Engineering</h4>-->
                <!--<h5>Harvard University</h5>-->
                <!--<p>I got my Master Degree at Harvard University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>-->
              <!--</div>-->

              <!--<div class="event">-->
                <!--<span class="date">2006</span>-->
                <!--<h4>Computer Science</h4>-->
                <!--<h5>MIT</h5>-->
                <!--<p>I studied Computer Science at MIT. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>-->
              <!--</div>-->

            <!--</div>-->
            <!-- timeline -->


          </div>
          <!-- col 6/12 -->



          <!-- col 6/12 -->
          <div class="col-md-6">

            <h2 class="section-title"><span><i class="icon-cog-1"></i>METHODOLOGIES</span></h2>

            <!-- DEV SKILLS -->
            <div class="skillset">

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Kanban</h4>
                <div class="bar" data-percent="100">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Management 3.0</h4>
                <div class="bar" data-percent="70">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Extreme Programming</h4>
                <div class="bar" data-percent="60">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Scrum</h4>
                <div class="bar" data-percent="80">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Extreme ownership</h4>
                <div class="bar" data-percent="80">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

            </div>
            <!-- DEV SKILLS -->



            <h2 class="section-title"><span><i class="icon-brush"></i>TECHNOLOGIES</span></h2>

            <!-- DESIGN SKILLS -->
            <div class="skillset">

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Java</h4>
                <div class="bar" data-percent="90">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Python</h4>
                <div class="bar" data-percent="100">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Scala</h4>
                <div class="bar" data-percent="40">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Node.js</h4>
                <div class="bar" data-percent="60">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

              <!-- .skill-unit -->
              <div class="skill-unit">
                <h4>Groovy</h4>
                <div class="bar" data-percent="100">
                  <div class="progress"></div>
                </div>
              </div>
              <!-- .skill-unit -->

            </div>
            <!-- DESIGN SKILLS -->



            <h2 class="section-title"><span><i class="icon-comment"></i>FAVOURITE QUOTES</span></h2>

            <!-- testo-group -->
            <div class="testo-group">

              <!-- Testimonial -->
              <div class="testo">
                <!--<img src="images/site/testo-01.jpg" alt="someone">-->
                <h4>Shunryū Suzuki<span>Buddist monk</span></h4>
                <p>If your mind is empty, it is always ready for anything, it is open to everything. In the beginner's mind there are many possibilities, but in the expert's mind there are few.</p>

              </div>
              <!-- Testimonial -->

              <!-- Testimonial -->
              <div class="testo">
                <!--<img src="images/site/testo-02.jpg" alt="someone">-->

                <h4>Tim Peters<span>Zen of Python</span></h4>
                <p>Special cases aren't special enough to break the rules.<br/>
                  Although practicality beats purity.</p>

              </div>
              <!-- Testimonial -->

              <!-- Testimonial -->
              <div class="testo">
                <!--<img src="images/site/testo-03.jpg" alt="someone">-->

                <h4>Agata Karpińska-Erbetowska <span>My wife</span></h4>
                <p>Idealist. Smarty-pants.</p>

              </div>
              <!-- Testimonial -->

            </div>
            <!-- testo-group -->






            <!--<h2 class="section-title"><span><i class="icon-doc-alt"></i>DOWNLOAD MY CV</span></h2>-->

            <!--<p>You can download my CV in pdf format if you like. I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>-->

            <!--&lt;!&ndash; DOWNLOAD BUTTON &ndash;&gt;-->
            <!--<div class="download-button">-->
              <!--<a href="#" class="button primary">DOWNLOAD CV</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; DOWNLOAD BUTTON &ndash;&gt;-->


            <h2 class="section-title"><span><i class="icon-linkedin"></i>VIEW MY LINKEDIN PROFILE</span></h2>

            <p>You can view my LinkedIn profile.</p>

            <!-- DOWNLOAD BUTTON -->
            <div class="download-button">
              <a href="https://www.linkedin.com/in/wojtekerbetowski" class="button primary" target="_blank">MY LINKEDIN PROFILE</a>
            </div>
            <!-- DOWNLOAD BUTTON -->


          </div>
          <!-- col 6/12 -->


        </div>
        <!-- row -->




      </div>
      <!-- CONTENT -->

    </section>
    <!-- PAGE : RESUME -->




    <!-- InstanceEndEditable -->



  </div>
  <!-- WRAPPER -->


</div>
<!-- CONTAINER -->





<!-- InstanceBeginEditable name="Body-End-Content" -->


<!-- PORTFOLIO SINGLE AJAX CONTENT CONTAINER -->
<div class="p-overlay"></div>
<div class="p-overlay"></div>


<!-- ALERT : used for contact form mail delivery alert -->
<div class="site-alert animated"></div>


<!-- InstanceEndEditable -->




<!-- SCRIPTS -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/jquery.address-1.5.min.js"></script>
<script src="js/triple.layout.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/nprogress/nprogress.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/jquery.imagesloaded.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.uniform.min.js"></script>
<script src="js/jquery.fancybox-1.3.4.pack.js"></script>
<script src="js/jquery.tooltipster.min.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/twitterFetcher_v10_min.js"></script>
<script src="js/mediaelement/mediaelement-and-player.min.js"></script>
<script src="js/send-mail.js"></script>
<script src="js/classie.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="js/main.js"></script>


</body>
<!-- InstanceEnd --></html>
